  .menu_cabecera {
    margin: 0;
    background-color: black;
    color: white;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 50px;
  }
  .menu_cabecera li:hover {
    color: pink;
  }